html {
    height: 100%;
}
body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(151, 144, 131);
}


#libraryTitle{
    font-family:"Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size:8vh;
    color:rgb(252, 247, 200);
    margin: 2vh;
}


#library{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vh;
}

.card h2{
    font-weight: 400;
    font-style: normal;
    border-bottom: solid;    
    border-bottom-width: 2px;
    font-size: 3vh;
}

.bookAuthor , .bookTitle{
    padding-left: 1vh;
    height: 4vh;
}

.card{
    background-color: rgb(252, 247, 200);
    height: 45vh;
    width: 35vh;
    text-align: left;
    font-family:"Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.headings{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid;    
    border-bottom-width: 2px;
    height: 3vh;
    position: relative;
}

.headings::after {
    content: '';
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    height: 190%;
    width: 2px; 
    background-color: black;
  }


.headings > h3{
    font-size: 2vh;
    margin: 0;    
}


.libraryCard{
    text-align: center;
    font-size: 3vh;
    border-bottom: solid;    
}

.pgsRead{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-bottom: solid;    
    border-bottom-width: 1px;   
    height: 5vh;
}

.pgsRead > h3{
    font-size: 3vh;
    font-weight: 400;
    margin: 1vh 0;
}


#showDialog{
    background-color: black;
    height: 10vh;
    width: 25vh;
    color: bisque;
    border-style: solid;
    border-radius: 3vh;
    font-family: "Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: large;
}

.card > button
{
    background-color: black;
    color: bisque;
    border-style: solid;
    border-radius: 3vh;
    font-family: "Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: small;
    margin: 1.5vh 1vh 0 2.5vh;

}

/* ---- form ----*/
form{
    height: 65vh;
    width: 40vh;
    text-align: center;
}

form h1{
    font-family:"Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size:5.5vh;
    color:rgb(153, 182, 154);
    margin: 0;
}

p{
    display: flex;
    justify-content: center;
}

input, select{
    border: solid;
    border-color: rgb(153, 182, 154);
    border-radius: 4vh;
    height: 3.5vh;
    font-family: "Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: rgb(43, 42, 35); 

}

input:focus{
    border: solid;
    outline: none;
    border-color: rgb(86, 102, 87);
}


label{
    font-family: "Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: medium;  
    color: rgb(43, 42, 35); 
}

select{
    font-family: "Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: small;
    width: 27vh;
    height: 5vh;
}


option:focus{
    background-color: rgb(86, 102, 87);
}


div .buttonOptions{
    display: flex;
    justify-content: space-between;
}

.form button{
    background-color: rgb(43, 42, 35);
    color: rgb(183, 216, 185);
    border-style: none;
    height: 6vh;
    width: 13vh;
    border-radius: 2vh;
    font-family: "Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: small;
}
