html {
    height: 100%;
}
body {
    min-height: 100%;
}

#library{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card h2{
    font-weight: 200;
    font-style: normal;
    border-bottom: solid;    
    border-bottom-width: 2px;
    font-size: 3vh;
}

.bookAuthor , .bookTitle{
    padding-left: 1vh;
    height: 4vh;
}

.card{
    background-color: rgb(252, 247, 200);
    height: 45vh;
    width: 35vh;
    text-align: left;
    font-family:"Fira Sans",'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.headings{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid;    
    border-bottom-width: 2px;
    height: 3vh;
    position: relative;
}

.headings::after {
    content: '';
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    height: 190%;
    width: 2px; 
    background-color: black;
  }


.headings > h3{
    font-size: 2vh;
    margin: 0;    
}


.libraryCard{
    text-align: center;
    font-size: 3vh;
    border-bottom: solid;    
}

.pgsRead{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-bottom: solid;    
    border-bottom-width: 1px;   
    height: 5vh;
}

.pgsRead > h3{
    font-size: 3vh;
    font-weight: 300;
    margin: 1vh 0;
}